.CommentBox{
    position: absolute;
    bottom: 15px;
    right: 50px;
    width: 30%;
    background-color: #ffffff;
    max-width: 500px;
    height: 60%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(9, 255, 120);
   
}
.CommentBox_header{
    padding: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(6, 161, 71);
}
.CommentBox_header > h3{
    color: whitesmoke;
    font-size: 13px;
}
.CommentBox_button{
    background-color: #3079ed !important;
    text-transform: capitalize !important;
    margin: 15px !important;
}
.CommentBox_close{
    cursor: pointer;
}
.CommentBox > form{
    display: flex;
    flex: 1;
    flex-direction: column;
}
.CommentBox  > form > input{
    height: 30px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid whitesmoke;
    outline: none;
}
.setMail_message{
  flex: 1;  
}
.err{
    background-color: white;
    color: red;
    text-align: right;
    padding: 2px;
    font-size: 9px;
}