.errMsg{
    background: rgb(230, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 3px;
    letter-spacing: 1.3px;
}

.successMsg{
    background: rgb(9, 158, 54);
    color: rgba(255, 255, 255, 0.918);
    text-align: center;
    padding: 10px 0;
    letter-spacing: 1.3px;
}