
.slider {
  padding: 10px 5px;
}

.slick-list {
  overflow: visible;
}

.slick-current .slide-content {
  transform: scale(1.05);
}

.slick-slide {
  padding: 0 5px;
}

.slide-content {
  height: 470px;
  background-color: rgba(233, 230, 230, 0.856);
  border-radius: 5px;
  transform: scale(0.9);
  transition: transform ease .3s;
}