
.slide {
  transform: scale(0.7);
  transition: transform 300ms;
  opacity: 0.5;
  height: 80vh;
  max-width: 600px;
}

.slideWrapper {
  display: flex;
  justify-content: center;
  
}

.prevArrow {
  position: absolute;
  top: 50%;
  left: 400px;
  z-index: 100;
  cursor: pointer;
  font-size: 2rem;
}

.nextArrow {
  position: absolute;
  top: 50%;
  right: 400px;
  z-index: 100;
  cursor: pointer;
  font-size: 2rem;
}